@import url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(85, 85, 103);
  height: 50px;
}

@keyframes slider {
  from{
    transform: translateX(-300px);
  }
  to{
    transform: translateX(0px);
  }
}

.titulo{
  animation-name: slider;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@media (min-width: 400px) and (max-width: 800px) {
  .start a {
    display: none;
  }
  .container {
    flex-wrap: wrap;
  }
}

header a,
input {
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  color: wheat;
}

header input {
  border-radius: 4px;
  outline: none;
}

h1 {
  text-align: center;
  color: black;
  margin: 2rem 0 5rem 0;
}
h2 {
  text-align: center;
  margin: 2rem 0 3rem 0;
}
.container {
  display: flex;
  justify-content: center;
}


.cards {
  width: auto;
  padding: 2rem;
  margin: 2rem;
  background-color: cadetblue;
  border-radius: 4px;
  border: 1px solid black;
  transition: .5s;
}

.cards:hover{
  transform: rotateY(180deg);
}

.cards img {
  width: 100%;
  height: auto;
}

footer {
  height: 10rem;
  background-color: rgb(85, 85, 103);
}

footer .contact {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
footer .contact form {
  text-align: center;
}
footer .contact form,
.logo {
  margin-top: 3rem;
}
